doctype html
html(lang="ja")
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai.min.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js")
    title css
  body
    include ./slides.pug
    script
      | hljs.initHighlightingOnLoad();
